.chat-container {
 
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
  }
  .topnav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin: 10px;
    justify-content: space-between;
  }
  .chat-outer {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: top; 
    overflow-y: auto; 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .chat-area {
    width: 600px; 
  }
  
  .chat-outer::-webkit-scrollbar {
    width: 0; 
  }
  
  .logout-button{
    background-color: #10a37f;
    padding: 5px;
    color: white;
  }
  .inputarea {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px; 
  }
  
  .inputarea > input {
    width: 600px;
    height: 35px;
    border: 0.5px solid black;
    border-radius: 10px;
    padding: 10px;
  }
  
  .inputarea > button {
    height: 35px;
    background-color: #10a37f;
    border-radius: 10px;
    padding: 5px;
    margin-left: 10px; 
  }
  .user-info{
    margin-bottom: 15px;
    margin-top: 35px;
  }
  .user-text{
    display: flex;
    height: 45px;
    margin-bottom: -15px;
  }
  .img{
    height: 60%;

    margin-right: 22px;
    border-radius: 50px;
  }
  .model-text>.img>img{
    /* border: 2px solid red; */
    border-radius: 50%  ;
  }
  .user-text>.img>img{
    /* border: 2px solid red; */
    border-radius: 50%  ;
  }
  .user-message{
    margin-left: 50px;
  }
  .model-text{
    display: flex;
    height: 45px;
  }
  .model-message{
    margin-left: 50px   ;
  }