.main{
  display: flex;
  
}
.sidebar{
padding: 8px;
  width: 200px;
  height: 720px;
  background-color: rgb(255, 255, 255);
  color: rgb(3, 3, 3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.topbutton{
  margin-left: 7px;
  width: 200px;
  height: 30px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}
.topbutton>.img>img{
  margin-top: 3px;
}
.img>img{
  width: 100%;
  height: 100%;
  border-radius: 15%;
}
.innercontent{
   display: flex;
   overflow-y: auto; 
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 15px;
   margin-bottom: 20px; 
}
.innercontent::-webkit-scrollbar {
  width: 0; 
}
h4{
  background-color: rgb(245, 244, 244);
  color: black;
  border: 1px black;
  margin-left: 10px;
}
 
.profile{
  width: 250px;
  height: 35px;
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}
.profile>.img , .version>.img{
  margin-right: -1px;
  margin-left: 7px;
}
.version{
  width: 250px;
  height: 35px;
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}
.bottomsection ,.data{
  display: flex;
  flex-direction: column;
}

.profile>.img>img{
  border-radius: 50%;
}
.mainbar{
  padding: 10px;

  /* margin-left: 50px; */
  width: 85%;
  height: 90vh;

}


