
.main {
    display: flex;
    flex-direction: row;
  }
  
  .mainbar {
    flex: 1;
  }
  
  /* Media Query for mid-size screens */
  @media screen and (max-width: 1024px) {
    .main {
      flex-direction: column;
    }
  
    .sidebar-container {
      display: none; 
    }
  
    .mainbar {
      flex: none; 
    }
  }
  
 
  @media screen and (max-width: 768px) {
   
  }
  